<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="physics" default="ode"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find swab)/worlds/swab.world"/>-->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="physics" value="$(arg physics)"/>
  </include>

  <arg name="rrr_model" default="$(find swab)/urdf/rrr.xacro" />
  <param name="robot_description" command="rosrun xacro xacro $(arg rrr_model)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner1" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model robot -param robot_description" respawn="false" output="screen" />

  <arg name="environment_model" default="$(find swab)/urdf/environment.xacro" />
  <param name="environment_description" command="rosrun xacro xacro $(arg environment_model)" />

  <node name="urdf_spawner2" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model environment -param environment_description" respawn="false" output="screen" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find swab)/config/controllers.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/rrr" args="joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/rrr/joint_states" />
  </node>
</launch>
